<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".compare.FlowCompareActivity"
            android:exported="false"
            android:label="@string/title_flow_activity_main"
            android:theme="@style/Theme.Knowledge" />

    </application>

</manifest>