<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".compare.FlowCompareActivity"
            android:exported="false"
            android:label="@string/title_flow_activity_main"
            android:theme="@style/Theme.Knowledge" />

        <activity android:name=".FlowActivity" />

        <activity android:name=".examples.FlowExample1Activity" />

        <activity android:name=".examples.FlowExample2Activity" />

        <activity android:name=".examples.FlowExample3Activity" />

        <activity android:name=".examples.FlowExample4Activity" />

        <activity android:name=".examples.FlowExample5Activity" />

        <activity android:name=".stockapp.usecase1.FlowUseCase1Activity" />

        <activity android:name=".stockapp.usecase2.FlowUseCase2Activity" />

        <activity android:name=".stockapp.usecase3.FlowUseCase3Activity" />

        <activity android:name=".stockapp.usecase4.FlowUseCase4Activity" />
    </application>

</manifest>