<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".movieapp.MovieAppActivity"
            android:exported="false"
            android:label="@string/title_movieapp"
            android:theme="@style/Theme.Knowledge" />
        <activity
            android:name=".ComposeActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Knowledge" />
        <activity
            android:name=".jettip.JetTipActivity"
            android:exported="false"
            android:label="@string/title_activity_jet_tip"
            android:theme="@style/Theme.Knowledge" />
        <activity
            android:name=".jetnoteapp.JetNoteActivity"
            android:exported="false"
            android:label="@string/title_jetnoteapp"
            android:theme="@style/Theme.Knowledge" />
        <activity
            android:name=".jettriviaapp.JetTriviaActivity"
            android:exported="false"
            android:label="@string/title_jettrivia"
            android:theme="@style/Theme.Knowledge" />
    </application>

</manifest>